# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/orvelterhof"

# NextAuth
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"

# Email
EMAIL_FROM="noreply@orvelterhof.nl"
EMAIL_HOST=""
EMAIL_PORT="587"
EMAIL_USER=""
EMAIL_PASS=""

# App
NEXT_PUBLIC_APP_NAME="Orvelterhof"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# API Key for external booking intake
BOOKING_API_KEY=""
